<p><b>Minimum</b><br>
<%= @first_number  %><br>
<b>Maximum</b><br>
<%= @second_number %><br>
<b>Random Number</b><br>
<%= @random_number %><br>
<div>
<a href ="http://localhost:3000/random/new"> Pick another random number </a>
</div>
