<h1>Random Calculation</h1>
<form action="/random/results">
  <div>
  <label>
    Minimum
  </label>
  <input type="text" name="first_number">
  </div>
  <div>
  <label>
    Maximum
  </label>
  <input type="text" name="second_number">
  </div>
  <button>Pick random number</button>
</form>
