<h1>Word Count Calculation</h1>
<form action="/word_count/results">
  <div>
  <label>
    Text
  </label>
  <input type="text" name="user_text">
  </div>
  <div>
  <label>
    Special word
  </label>
  <input type="text" name="user_word">
</div>
  <button>Process text</button>
